<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Hello, my name is Xavier and I'm making this sample app in purpose to learn more about Angular framework</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="https://www.github.com/rootkit0" class="text-white">Follow on GitHub</a></li>
            <li><a href="mailto:xaavier@protonmail.com" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a routerLink="/" class="navbar-brand d-flex align-items-center">
        <strong>SuperheroesApp</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>What I used to make this app? <a href="https://angular.io/">Angular</a>, <a href="https://getbootstrap.com/">Bootstrap</a>, <a href="https://superheroapi.com/index.html">Superheroes API</a></p>
    <p>Want to see more funny projects? Check out my <a href="https://www.github.com/rootkit0">GitHub</a>!</p>
  </div>
</footer>