<main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="title">Superheroes</h1>
        <p class="lead text-muted">This is a sample app made with Angular in order to acquire knowledge and mastery with the framework.</p>
        <p class="lead text-muted">In this app I will make calls to a superheroes API and I will get and process the data.</p>
        <p>
            <a routerLink="/superheroes" class="btn btn-primary my-2">See superheroes!</a>
        </p>
      </div>
    </section>
</main>